// ==========================================
// Icons
// ==========================================

@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons/icons.eot?4bvobp');
  src:  url('../fonts/icons/icons.eot?4bvobp#iefix') format('embedded-opentype'),
    url('../fonts/icons/icons.ttf?4bvobp') format('truetype'),
    url('../fonts/icons/icons.woff?4bvobp') format('woff'),
    url('../fonts/icons/icons.svg?4bvobp#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}

.icon-night-mode:before {
  content: "\e901";
}

.icon-lang:before {
  content: "\e902";
}
