// ==========================================
// Variables
// ==========================================

// Colors
$pickledBluewood: #2c3e50;
$porcelain: #ecf0f1;
$jungleGreen: #27ae60;
$jewel: #1b7943;
$cinnabar: #e74c3c;
$thunderbird: #b52516;
$curiousBlue: #3498db;
$mariner: #2980b9;
$cascade: #95a5a6;
$osloGray: #7f8c8d;

// Fonts
$font-size-default: 16px;