@import "normalize";
@import "variables";
@import "functions";
@import "animations";
@import "icons";

* {
  box-sizing: border-box;
}

html,
body {
  font-size: $font-size-default;
}

.btn {
  border: 0;
  background-color: $pickledBluewood;
  color: $porcelain;
  padding: rem(8px) rem(15px);
  border-radius: rem(5px);
  font-size: rem(14px);
  cursor: pointer;
  outline: 0;

  i {
    margin-right: rem(5px);
  }
}

a {
  text-decoration: none;
  color: $mariner;
  transition: .3s all;

  &:hover {
    color: $curiousBlue;
  }
}

.custom-select {
  .selected-value,
  ul {
    background-color: $pickledBluewood;
    color: $porcelain;
  }
}

.alert {
  max-width: rem(1200px);
  padding: rem(10px) rem(20px);
  margin: auto;
  font-size: rem(14px);

  &.alert-danger {
    color: $porcelain;
    background-color: $thunderbird;
  }
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: rem(60px) rem(20px);
  color: $pickledBluewood;
  background-color: $porcelain;
  transition: .3s all;

  &.night-mode {
    background-color: $pickledBluewood;
    color: $porcelain;

    .btn {
      color: $pickledBluewood;
      background-color: $porcelain;
    }
    .custom-select {
      .selected-value,
      ul {
        color: $pickledBluewood;
        background-color: $porcelain;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
